extends baseEmail

block content
  p Xin chào #{firstName},
  p Các bạn có thông báo mới như sau:
  p #{message}
  p Nếu bạn có bất kì thắc mắc nào, hãy liên lạc vào gmail sau: 21522112@gm.uit.edu.vn.

  //- You can customize the content of the notification email as needed.